body{
    margin: 0;
    padding: 0;
}

.section1{
    background-color: green;
    width: 200px;
    padding: 5px 5px 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.section2{
    background-color: yellow;
    width: 200px;
    padding: 10px;
}

div.imgs {
    width: 280px;
    background-color: white;
    box-shadow: 0 4px 8px 0 ;
    margin: 10px;
    padding: 5px 3px 10px 3px;     
    float: left;

  }
  
  div.imgs-content {
    text-align: center;

  }